
# Python environment
myenv
.venv

# Ignore all log files
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Ignore temp files
*.tmp

# dotenv environment variables file
.env

#Azure resource list
AzureResources.json

#TTS service detials
service_details.json

#databricks resource details
*_resource_details.json


# TTS Audio
*.wav